// All variables defined here are used for checkboxes
// All the variables defined here are prefixed with 'checkbox-'

@import 'Base';

// Class name
$checkbox-class-name: 'checkbox' !default;

// Color
$checkbox-color-list: $base-color-list !default;

// Font
$checkbox-font-family: $base-font-family !default;
$checkbox-font-size: $base-font-size !default;
$checkbox-font-weight: 400 !default;

// Size
$checkbox-size: 1.8rem !default;

// Checkmark thickness
$checkbox-thickness: 0.2rem !default;

// Border
$checkbox-border-width: 0.2rem !default;
$checkbox-border-radius: $base-border-radius !default;

// Lighten percentage
$checkbox-lighten-percentage: 10% !default;

// Transition duration
$checkbox-transition-duration: $base-transition-duration !default;

// Checkbox disabled
$checkbox-disabled-color: #DDD !default;
$checkbox-disabled-background-color: #EEE !default;

// Size variants
$checkbox-size-variant-list: $base-size-variant-list !default;
