// All variables defined here are used for radio buttons
// All the variables defined here are prefixed with 'radio-'

@import 'Base';

// Class name
$radio-class-name: 'radio' !default;

// Color
$radio-color-list: $base-color-list !default;

// Font
$radio-font-family: $base-font-family !default;
$radio-font-size: $base-font-size !default;
$radio-font-weight: 400 !default;

// Size
$radio-size: 1.8rem !default;

// Checkmark thickness
$radio-thickness: 1.2rem !default;

// Border
$radio-border-width: 0.2rem !default;

// Lighten percentage
$radio-lighten-percentage: 10% !default;

// Transition duration
$radio-transition-duration: $base-transition-duration !default;

// Size variants
$radio-size-variant-list: $base-size-variant-list !default;
