// Styles for html and body tags

@import 'Config';

// Importing the default font
@import url($font-base-url);


html {
  // Basic styles
  font-size: 62.5%;
  font-family: $font-base;
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
}
