@import 'variables/Button';
@import 'Mixins';
@import 'Functions';

.#{$button-class-name} {
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  display: inline-block;
  padding: $button-padding;
  color: #FFF;
  border: none;
  border-radius: $button-border-radius;
  cursor: pointer;
  @include transition(all $button-transition-duration);

  // Block button modifier
  @include modifier($button-block-modifier-name) {
    display: block;
    width: 100%;
    text-align: center;
  }

  // Size variant modifiers
  @each $size-variant-item in $button-size-variant-list {
    $size-variant-name: nth($size-variant-item, 1);
    $size-variant: nth($size-variant-item, 2);
    @include modifier($size-variant-name) {
      font-size: $button-font-size * $size-variant;
      padding: multiply($button-padding, $size-variant);
    }
  }

  // Color variant modifiers
  @each $button-color-item in $button-color-list {
    $button-color-name: nth($button-color-item, 1);
    $button-color: nth($button-color-item, 2);

    @include modifier($button-color-name) {
      background-color: $button-color;

      &:hover {
        background-color: darken($button-color, $button-color-darken-percentage);
        color: #FFF;
        border: none;
      }

      &:active {
        background-color: darken($button-color, $button-color-darken-percentage * 2);
        color: #FFF;
        border: none;
      }

      &[disabled] {
        color: lighten($button-color, 20%);
        background-color: lighten($button-color, 5%);
        cursor: not-allowed;

        &:hover, &:active {
          background-color: lighten($button-color, 5%);
        }
      }
    }
  }
}
