@import 'variables/Checkbox';
@import 'Mixins';
@import 'Functions';

.#{$checkbox-class-name} {
  font-family: $checkbox-font-family;
  font-size: $checkbox-font-size;
  font-weight: $checkbox-font-weight;

  // Size variant modifiers
  @each $size-variant-item in $checkbox-size-variant-list {
    $size-variant-name: nth($size-variant-item, 1);
    $size-variant: nth($size-variant-item, 2);
    @include modifier($size-variant-name) {
      font-size: $checkbox-font-size * $size-variant;
      @include LabelledCheckbox(
        $size: $checkbox-size * $size-variant,
        $thickness: $checkbox-thickness,
        $border-thickness: $checkbox-border-thickness,
        $border-radius: $checkbox-border-radius,
        $desaturate-percentage: $checkbox-desaturate-percentage,
        $type: $checkbox-type);
    }
  }

  // Color variant modifiers
  @each $checkbox-color-item in $checkbox-color-list {
    $checkbox-color-name: nth($checkbox-color-item, 1);
    $checkbox-color: nth($checkbox-color-item, 2);
    @include modifier($checkbox-color-name) {
      @include LabelledCheckbox(
        $size: $checkbox-size,
        $thickness: $checkbox-thickness,
        $color: $checkbox-color,
        $border-thickness: $checkbox-border-thickness,
        $border-radius: $checkbox-border-radius,
        $desaturate-percentage: $checkbox-desaturate-percentage,
        $type: $checkbox-type);

      @each $size-variant-item in $checkbox-size-variant-list {
        $size-variant-name: nth($size-variant-item, 1);
        $size-variant: nth($size-variant-item, 2);
        @include modifier($size-variant-name) {
          font-size: $checkbox-font-size * $size-variant;
          @include LabelledCheckbox(
            $size: $checkbox-size * $size-variant,
            $thickness: $checkbox-thickness,
            $color: $checkbox-color,
            $border-thickness: $checkbox-border-thickness,
            $border-radius: $checkbox-border-radius,
            $desaturate-percentage: $checkbox-desaturate-percentage,
            $type: $checkbox-type);
        }
      }
    }
  }
}
