@import 'variables/Link';
@import 'Mixins';
@import 'Functions';

.#{$link-class-name} {
  font-family: $link-font-family;
  font-size: $link-font-size;
  font-weight: $link-font-weight;
  text-decoration: none;
  border-bottom: $link-border-bottom;
  @include transition(all $link-transition-duration);

  &:hover {
    border-bottom: $link-hover-border-bottom;
  }
  
  // Size variant modifiers
  @each $size-variant-item in $link-size-variant-list {
    $size-variant-name: nth($size-variant-item, 1);
    $size-variant: nth($size-variant-item, 2);
    @include modifier($size-variant-name) {
      font-size: $link-font-size * $size-variant;
    }
  }
  
  @each $link-color-item in $link-color-list {
    $link-color-name: nth($link-color-item, 1);
    $link-color: nth($link-color-item, 2);
    @include modifier($link-color-name) {
      color: $link-color;

      &:hover {
        color: darken($link-color, $link-color-darken-percentage);
        border-bottom: 1px solid darken($link-color, $link-color-darken-percentage);
      }
    }
  }
}
