// Styles for buttons

@import 'Config';
@import 'Functions';

$font-button: $font-base !default;
$font-size-button: $font-size-base !default;
$font-weight-button: 600;
$padding-button: 8px 18px !default;
$border-radius-button: $border-radius-base !default;
$colors-button: $colors !default;
$color-button-names: $color-names !default;
$color-darken-percentage-button: $color-darken-percentage-base !default;
$transition-duration-button: $transition-duration-base !default;
$size-variants-button: $size-variants-base !default;
$size-variant-names-button: $size-variant-names-base !default;


.button {
  font-family: $font-button;
  font-size: $font-size-button;
  font-weight: $font-weight-button;
  display: inline-block;
  padding: $padding-button;
  color: $white;
  border: none;
  border-radius: $border-radius-button;
  cursor: pointer;
  @include transition(all $transition-duration-button);

  @include modifier('block') {
    display: block;
    width: 100%;
    text-align: center;
  }

  @for $i from 1 through length($size-variants-button) {
    $size-variant: nth($size-variants-button, $i);
    $size-variant-name: nth($size-variant-names-button, $i);
    @include modifier($size-variant-name) {
      font-size: $font-size-button * $size-variant;
      padding: multiply($padding-button, $size-variant);
    }
  }

  @for $i from 1 through length($colors-button) {
    $color-button: nth($colors-button, $i);
    $color-button-name: nth($color-button-names, $i);

    @include modifier($color-button-name) {
      background-color: $color-button;

      &:hover {
        background-color: darken($color-button, $color-darken-percentage-button);
      }
    }
  }
}
