// Basic configuration variables

// Colors
$white: #FFF;
$black: #000;
$gray: #444;
$gray-light: #999;
$gray-dark: #222;
$green: #3AC69F;
$red: #E82F3A;
$blue: #6988E9;
$yellow: #E2B92B;


// Font related variables

// Default font used on the entire page
$font-base: 'Cabin', sans-serif !default;
// URL of the default font
$font-base-url: 'https://fonts.googleapis.com/css?family=Cabin:400,400i,700' !default;
// Default font size
$font-size-base: 1.6rem !default;
// Default line height
$line-height-base: 1.3;


// Color related variables
$color-base: $gray !default;
$colors: $red $green $blue $yellow !default;
$color-names: 'red', 'green', 'blue', 'yellow' !default;
