// Layout related scss

@import 'Mixins';

// Container variables
$width-container: 1024px !default;

// Columns variables
$columns: 1, 2, 3, 4 !default;
$padding-column: 0 !default;


.container {
  // Main container of the page
  width: $width-container;
  margin: 0 auto;
}

@each $column in $columns {
  // Floating columns
  // These columns can wrap but it's contents can't be vertically aligned
  .f-columns-#{$column} {
    // Columns container that can have a maximum of `$column` columns
    display: block;
    width: 100%;

    @for $i from 1 through $column {
      .f-column-#{$i} {
        // A column with a width proportional to `$i`
        float: left;
        width: percentage($i / $column);
        padding: $padding-column;
      }
    }
  }
}

@each $column in $columns {
  // Tabular columns
  // These columns can't wrap but it's contents can be vertically aligned
  .t-columns-#{$column} {
    // Columns container that can have a maximum of `$column` columns
    display: table;
    width: 100%;
    table-layout: fixed;

    @for $i from 1 through $column {
      .t-column-#{$i} {
        // A column with a width proportional to `$i`
        display: table-cell;
        width: percentage($i / $column);
        padding: $padding-column;
        vertical-align: top;

        @include modifier('middle') {
          vertical-align: middle;
        }

        @include modifier('bottom') {
          vertical-align: bottom;
        }
      }
    }
  }
}
