// Styles for input

@import 'Config';
@import 'Mixins';
@import 'Functions';

// Variables for input
$font-size-input: $font-size-base !default;
$padding-input: 9px 10px !default;
$border-input: 1px solid $gray-light !default;
$border-colors-input: $colors !default;
$border-color-names: $color-names !default;
$border-radius-input: $border-radius-base !default;
$transition-duration-input: $transition-duration-base !default;
$size-variants-input: $size-variants-base !default;
$size-variant-names-input: $size-variant-names-base !default;


.input {
  font-size: $font-size-input;
  width: 100%;
  padding: $padding-input;
  background-color: none;
  border: $border-input;
  border-radius: $border-radius-input;
  @include transition(all $transition-duration-input);

  @for $i from 1 through length($size-variants-input) {
    $size-variant: nth($size-variants-input, $i);
    $size-variant-name: nth($size-variant-names-input, $i);
    @include modifier($size-variant-name) {
      font-size: $font-size-input * $size-variant;
      padding: multiply($padding-input, $size-variant);
    }
  }

  @for $i from 1 through length($border-colors-input) {
    $border-color: nth($border-colors-input, $i);
    $border-color-name: nth($border-color-names, $i);

    @include modifier($border-color-name) {
      &:hover, &:focus {
        border-color: $border-color;
        box-shadow: 0 0 5px 0 transparentize($border-color, 0.5);
      }
    }
  }
}