// Styles for radio

@import 'Config';
@import 'Mixins';

// Variables for radio
$font-size-radio: $font-size-base !default;
$size-radio: 2.4rem !default;
$thickness-radio: 1.4rem !default;
$border-thickness-radio: 0.2rem !default;
$desaturate-percentage-radio: 10% !default;
$type-radio: 'outline' !default;
$colors-radio: $colors !default;
$color-radio-names: $color-names !default;
$size-variants-radio: $size-variants-base !default;
$size-variant-names-radio: $size-variant-names-base !default;


.radio {
  font-size: $font-size-radio;
  @include LabelledRadio(
    $size: $size-radio,
    $thickness: $thickness-radio,
    $border-thickness: $border-thickness-radio,
    $desaturate-percentage: $desaturate-percentage-radio,
    $type: $type-radio);

  @for $i from 1 through length($size-variants-radio) {
    $size-variant: nth($size-variants-radio, $i);
    $size-variant-name: nth($size-variant-names-radio, $i);
    @include modifier($size-variant-name) {
      font-size: $font-size-radio * $size-variant;
      @include LabelledRadio(
        $size: $size-radio * $size-variant,
        $thickness: $thickness-radio * $size-variant,
        $border-thickness: $border-thickness-radio,
        $desaturate-percentage: $desaturate-percentage-radio,
        $type: $type-radio);
    }
  }

  @for $i from 1 through length($colors-radio) {
    $color-radio: nth($colors-radio, $i);
    $color-radio-name: nth($color-radio-names, $i);

    @include modifier($color-radio-name) {
      @include LabelledRadio(
        $size: $size-radio,
        $thickness: $thickness-radio,
        $color: $color-radio,
        $border-thickness: $border-thickness-radio,
        $desaturate-percentage: $desaturate-percentage-radio,
        $type: $type-radio);

      @for $i from 1 through length($size-variants-radio) {
        $size-variant: nth($size-variants-radio, $i);
        $size-variant-name: nth($size-variant-names-radio, $i);
        @include modifier($size-variant-name) {
          font-size: $font-size-radio * $size-variant;
          @include LabelledRadio(
            $size: $size-radio * $size-variant,
            $thickness: $thickness-radio * $size-variant,
            $color: $color-radio,
            $border-thickness: $border-thickness-radio,
            $desaturate-percentage: $desaturate-percentage-radio,
            $type: $type-radio);
        }
      }
    }
  }
}
