// Styles for tooltip

@import 'Config';
@import 'Mixins';

$width-tooltip: 15rem !default;
$font-size-tooltip: $font-size-base !default;
$font-weight-tooltip: 400 !default;
$color-tooltip: $white !default;
$background-color-tooltip: transparentize($black, 0.2) !default;
$border-radius-tooltip: $border-radius-base !default;
$transition-duration-tooltip: $transition-duration-base !default;
$padding-tooltip: 0.8rem !default;
$spacing-tooltip: 0.5rem !default;
$colors-tooltip: $colors !default;
$color-names-tooltip: $color-names !default;
$size-variants-tooltip: $size-variants-base !default;
$size-variant-names-tooltip: $size-variant-names-base !default;

.tooltip {
  position: relative;

  &:hover {
    &:before {
      visibility: visible;
      opacity: 1;
    }
  }

  &:before {
    content: attr(data-tooltip);
    position: absolute;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    background-color: $background-color-tooltip;
    font-size: $font-size-tooltip;
    font-weight: $font-weight-tooltip;
    width: $width-tooltip;
    color: $color-tooltip;
    border-radius: $border-radius-tooltip;
    padding: $padding-tooltip;
    @include transition(all $transition-duration-tooltip);
  }

  @include modifier('top') {
    &:before {
      bottom: 100%;
      left: 50%;
      @include transform(translate(-50%, -$spacing-tooltip));
    }
  }

  @include modifier('bottom') {
    &:before {
      top: 100%;
      left: 50%;
      @include transform(translate(-50%, $spacing-tooltip));
    }
  }

  @include modifier('left') {
    &:before {
      right: 100%;
      top: 50%;
      @include transform(translate(-$spacing-tooltip, -50%));
    }
  }

  @include modifier('right') {
    &:before {
      left: 100%;
      top: 50%;
      @include transform(translate($spacing-tooltip, -50%));
    }
  }

  @for $i from 1 through length($size-variants-tooltip) {
    $size-variant: nth($size-variants-tooltip, $i);
    $size-variant-name: nth($size-variant-names-tooltip, $i);
    @include modifier($size-variant-name) {
      &:before {
        font-size: $font-size-tooltip * $size-variant;
        padding: multiply($padding-tooltip, $size-variant);
        width: $width-tooltip * $size-variant;
      }
    }
  }

  @for $i from 1 through length($colors-tooltip) {
    $color-tooltip: nth($colors-tooltip, $i);
    $color-tooltip-name: nth($color-names-tooltip, $i);

    @include modifier($color-tooltip-name) {
      &:before {
        background-color: $color-tooltip;
      }
    }
  }
}
