// Utility styles that can be used anywhere


// Text alignment styles
.text-center {
  // Center aligned
  text-align: center;
}

.text-left {
  // Left aligned
  text-align: left;
}

.text-right {
  // Right aligned
  text-align: right;
}
